*,figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #666d89;
}
  

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: none;
}

input, textarea {
    border: none;
}

.caption {
    font-size: 22px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
    margin-top: 33px;
    margin-bottom: 56px;
}


section {
    width: 1020px;
    min-height: 100vh;
    margin: 0 auto;
    /* overflow: hidden; */
}

    .wrapper {
        max-width: 940px;
        padding: 0 40px;
        /* overflow: hidden; */
    }

    .indent {
        padding-top: 62px;
        padding-bottom: 72px;
    }

/* ********************************** */
/* SINGOLO 1 */
/* ********************************** */

    header {
        display: flex;
        flex-wrap: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 95px;
        background: #2d303a;
    }

        .logo a {
            font-size: 18px;
            font-weight: bold;
            color: white;
        }
            .logo span {
                font-size: 18px;
                font-weight: bold;
                color: #f06c64;
            }
    
        .menu {
            width: 370px;
            display: flex;
            justify-content: space-between;  
        }
            .menu li a {
                font-size: 10px;
                font-weight: bold;
                text-transform: uppercase;
                color: white;
                transition: .5s ease;
            }
            .menu li a:hover {
                cursor: pointer;
                color: #f06c64;
            }

            .menu .active {
                color: #f06c64;
            }

/* Slider     */
    .slider {
        width: 100%;
        background: #648BF0;
        /* background: #f06c64; */
        padding-top: 52px;
        padding-bottom: 88px;
    }
        .slider_wrap {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
            .slider_items {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
<<<<<<< HEAD
            
                .slider_items .margin {
=======
                .slider_items .vertical {
                    position: relative;
                    width: 216px;
                    height: 458px;
>>>>>>> gh-pages
                    margin-right: 98px;
                    background:url("assets/phone-vertical.svg");  
                    background-position: center;
                }
                    .slider_items .vertical>.phone-display {
                        position: absolute;
                        top: 65px;
                        left: 14px;
                    }
                
                .slider_items .horizontal {
                    position: relative;
                    width: 458px;
                    height: 216px;
                    background:url("assets/phone-horizontal.svg");  
                    background-position: center;
                }
                    .slider_items .horizontal>.phone-display {
                        position: absolute;
                        top: 14px;
                        left: 60px;
                    }
                .none {
                    display: none;
                }

<<<<<<< HEAD
                .none {
                    display: none;
                }

                .slider_items .slide2 {
                    background: #648BF0;
                }
=======
>>>>>>> gh-pages

        .slider_control {
            position: relative;
            display: block;
            width: 23px;
            height: 27px;
            /* z-index: 100; */
        }

        .hideSlide {
            display: none;
        }

        .showSlide {
            display: flex;
        }

        .back {
            /* background: #648BF0; */
            background: #f06c64;
        }

        .slide2 img {
            max-width: 100%;
            height: 461px;
        }
        
          
        .slider_control_prev {
            background-image: url("assets/left.png");
            background-position: center;
            background-repeat: no-repeat;
            transition: 1s ease;
        }
        .slider_control_prev:hover {
            background-image: url("assets/leftW.png");
        }

        .slider_control_next {
            background-image: url("assets/right.png");
            background-position: center;
            background-repeat: no-repeat;
            transition: 1s ease;
        }
        .slider_control_next:hover {
            background-image: url("assets/rightW.png");
        }

        

/* Services         */
    .services {
        width: 100%;
    }
        .row {
            margin-bottom: 38px;
        }

        .services_items .space {
            margin-left: 20px;
        }
            .services_items {
                display: flex;
            }

            .services_item .img {
                height: 100%;
                margin-right: 20px;
                margin-bottom: 1px;
                box-sizing: border-box;
                float: left;
                clear: both;
            }

            .services_item h3 {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            .services_item p {
                font-size: 12px;
                font-weight: bold;
                line-height: 1.8;
                text-align: justify;
            }

/* ********************************** */
/* SINGOLO 2 */
/* ********************************** */

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.singolo2 {
    min-height: 100vh;
    width: 1020px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Portfolio         */

.portfolio {
    background: #2d303a;
}

    .portfolio .caption {
        font-family: "Lato", sans-serif;
        font-size: 22px;
    }

    .portfolio .description {
        font-family: "Lato", sans-serif;
        font-size: 13px;
        margin-top: 33px;
        margin-bottom: 20px;
    }

    .gallery-buttons li {
        display: inline-block;
        margin-right: 10px;
    }

        .gallery-buttons_btn {
            font-family: "Lato", sans-serif;
            font-size: 12px;
            box-sizing: border-box;
            height: 20px;
            padding: 0px 6px;
            border: 1px solid #666d89;
            border-radius: 5px;
            justify-content: top;
            transition: .5s ease;
        }

        .gallery-buttons_btn:hover {
            color: white;
            border: 1px solid white;
        }

        .activeP {
            color: white;
            border: 1px solid white;
        }

    .gallary-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

        .gallary-images .image {
            width:220px;
            height: 190px;
            margin-bottom: 18px;
        }

        .activeI {
            box-sizing: border-box;
            border: 5px solid #F06C64;
        }

/* About Us         */  



    .gallary-aboutus {
        display: flex;
        justify-content: space-between;
        margin-top: 55px;
    }

        .gallary-aboutus .people {
            width: 100%;
            max-width: 300px;
            min-width: 100px;
        }

        .gallary-aboutus figure {
            max-width: 300px;
            width: 100%;
            height: 300px;
        }

    .gallary-aboutus .name {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-weight: bold; 
    }

    .gallary-aboutus .story {
        display: block;
        font-family: "Lato", sans-serif;
        font-size: 12px;
        line-height: 1.7;
        word-wrap: break-word;
        white-space: pre-line;
        overflow: hidden;
        margin-top: 18px;
        margin-bottom: 30px;
    }

    .gallary-aboutus figure {
        margin-bottom: 20px;
    }
    
    .gallary-aboutus .social-list li {
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 1px solid #666d89;
        border-radius: 100%;
        margin-right: 8px;
        box-sizing: border-box;
        transition: .5s ease;
    }
    .gallary-aboutus .social-list li:hover {
        border: 1px solid #f06c64;
    }
        .social-list .facebook {
            background-image: url("assets/facebook.png");
            display: block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            transition: 1s ease;
        }

        .social-list .facebook:hover {
            cursor: pointer;
            background-image: url("assets/facebookW.png");
        }

        .social-list .google {
            background-image: url("assets/google.png");
            display: block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            transition: 1s ease;
        }
        .social-list .google:hover {
            cursor: pointer;
            background-image: url("assets/googleW.png");
        }

        .social-list .twitter {
            background-image: url("assets/twitter.png");
            display: block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            transition: 1s ease;
        }
        .social-list .twitter:hover {
            cursor: pointer;
            background-image: url("assets/twitterW.png");
        }

        .social-list .linkedin {
            background-image: url("assets/linkedin.png");
            display: block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            transition: 1s ease;
        }
        .social-list .linkedin:hover {
            cursor: pointer;
            background-image: url("assets/linkedinW.png");
        }
          
/* **********************************             */
/* SINGOLO 3 */
/* ********************************** */
    
section {
    min-height: 0;
}

.singolo3 {
    width: 100%;
    height: 80vh;
    background: #f06c64;
    
}

    .singolo3 .story {
        margin-top: 32px;
        color: #f0d8d9;
    }

    .singolo3 .compare {
        color: #f0d8d9;
    } 

     .form-wrap {
        margin-top: 52px;
        margin-bottom: 160px;
    }
         .form {
            display: flex;
            flex-direction: column;
            width: 620px;
            margin-right: 20px;
            float: left;
        }
            .form .input {
                font-family: "Lato", sans-serif;
                font-size: 12px;
                margin-bottom: 16px;
                padding: 15px;
                border-radius: 4px;
                box-sizing: border-box;
                background: #d6564f;
                color: #f0d8d9;
            }

            .form .input::-webkit-input-placeholder {
                color: rgb(244, 140, 143); 
            }

            .form .detail {
                font-family: "Lato", sans-serif;
                font-size: 12px;
                margin-bottom: 16px;
                padding: 15px;
                border-radius: 4px;
                box-sizing: border-box;
                background: #d6564f;
                color: rgb(244, 140, 143);
            }

            .form .detail::-webkit-input-placeholder {
                color: rgb(244, 140, 143); 
            }

            .btn-form {
                color: #f0d8d9;
                width: 310px;
                padding: 10px;
                border: 1px solid #f0d8d9;
                border-radius: 10px;
                transition: .5s ease;
            }
            .btn-form:hover {
                background: #2d303a;
                border: 1px solid #2d303a;
            }
                #message-block{
                    position: absolute;
                    width: 100vw;
                    height: 100vh;
                    top: 2798px;
                    left: 0;
                    background: #0008;
                }
                
                #message-block.hidden{
                    display: none;
                }

                #message{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border: 2px solid black;
                    background-color: darkred;
                    font-family: Lato-Regular;
                    text-align: center;
                }
                

            .contacts p {
                font-size: 12px;
                line-height: 1.7;
                text-align: justify;
            }

            .contacts .contact-items {
                display: inline-block;
                padding-top : 35px;
            }

            .contacts .contact-items li {
                margin-bottom: 10px;
            }

            .contact-items  .location {
                background-image: url("assets/location.png");
                background-repeat: no-repeat;
                background-position: left;
                right: 20px;
            }

            .contact-items  .phone {
                background-image: url("assets/phones.png");
                background-repeat: no-repeat;
                background-position: left;
            }

            .contact-items  .mail {
                background-image: url("assets/mail.png");
                background-repeat: no-repeat;
                background-position: left;
            }

            .contact-items  a {
                font-size: 12px;
                color:  #f0d8d9;
                margin-left: 22px;
            }


/* Footer */

        footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background: #2d303a;
         }

         footer ul {
             padding: 20px 0;
         }
         .social-list li {
            display: inline-block;
            width: 32px;
            height: 32px;
            border: 1px solid #666d89;
            border-radius: 100%;
            margin-right: 8px;
            box-sizing: border-box;
            transition: 1s ease;
        }
        .social-list li:hover {
            border: 1px solid #d6564f;
        }
            .social-list .facebook {
                background-image: url("assets/facebook.png");
                display: block;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                transition: 1s ease;
            }
            .social-list .facebook:hover {
                background-image: url("assets/facebookW.png");
            }
    
            .social-list .google {
                background-image: url("assets/google.png");
                display: block;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                transition: 1s ease;
            }
            .social-list .google:hover {
                background-image: url("assets/googleW.png");
            }
    
            .social-list .twitter {
                background-image: url("assets/twitter.png");
                display: block;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                transition: 1s ease;
            }
            .social-list .twitter:hover {
                background-image: url("assets/twitterW.png"); 
            }
    
            .social-list .linkedin {
                background-image: url("assets/linkedin.png");
                display: block;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                transition: 1s ease;
            }
            .social-list .linkedin:hover {
                background-image: url("assets/linkedinW.png");
            }

          



              

